<div class="row mt-5">
    <div class="col-12 text-center">
        <h4 class="text-primary mb-4">Quản Lý Bảo Hành</h4>

        <div class="d-inline-flex flex-wrap justify-content-center">
            <a href="@Url.Action("Create", "Warranty2")"
               class="btn btn-success btn-lg px-5 py-3 mx-3 shadow-sm d-flex align-items-center">
                <i class="glyphicon glyphicon-plus mr-2"></i>
                Lập Phiếu Bảo Hành Mới
            </a>

            <a href="@Url.Action("List", "Warranty2")"
               class="btn btn-info btn-lg px-5 py-3 mx-3 shadow-sm d-flex align-items-center">
                <i class="glyphicon glyphicon-list mr-2"></i>
                Danh sách Phiếu & Cập nhật Trạng thái
            </a>
        </div>
    </div>
</div>