using System.Reflection;
using System.Web.UI.WebControls;
using System;

@model List<WarrantyTicket>

<h2>Danh sách bảo hành</h2>

<a href = "/Warranty/Create" > Tạo mới</a>

<table border = "1" >
< tr >
    < th > Mã </ th >
    < th > Trạng thái</th>
    <th>Action</th>
</tr>

@foreach(var item in Model)
{
< tr >
    < td > @item.warranty_code </ td >
    < td > @item.status </ td >
    < td >
        < a href = "/Warranty/UpdateStatus/@item.warranty_id" > Hoàn thành </ a >
    </ td >
</ tr >
}
</ table >